@font-face {
    font-family: 'PP Neue Montreal Book' ;
    src: url('/Users/jacksturzaker/Library/Fonts/PPNeueMontreal-Book.otf')
    format('opentype');
    font-family: 'Campton Bold DEMO' ;
    src: url('/Users/jacksturzaker/Library/Fonts/Campton-BoldDEMO 2.otf')
    format('opentype');
}

body {
    
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    
  }

  .main-content{
      flex-grow: 1;  /* ensures that the body/main content seperates itself from the body and doesn't affect styler> see this article for more info: https://levelup.gitconnected.com/how-to-keep-your-footer-at-the-bottom-of-the-page-the-easy-way-20aa3bcd621f */
      max-width: 1000px;
      margin: auto;
  }

header{
    object-position: center;
    overflow: hidden;
    background-color: #000000;
    color: white;
    font-family: 'PP Neue Montreal Book', sans-serif;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 10px;
   
    
   
}

header h1{
    font-size: 30px;
    padding-left: 15px ;
    word-spacing: 5px;
    letter-spacing: 2px;
}


header nav {
    padding-top: 28px;
    padding-right: 15px;
    
}

header nav a{
    text-decoration: none;
    color: white;
    font-family: 'PP Neue Montreal Book', sans-serif;
    margin-left: 80px;
    font-size: 18px;
    letter-spacing: 1px;
   

}
header nav a:hover{
    border-bottom: solid 2px grey;
    padding-bottom: 3px;
}

.intro{
    text-align: center;
}

.intro h1 {
    font-family: 'Faster One' ;
    font-size: 120px;
    letter-spacing: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}


.intro button{

background-color: black;
border: none;
 padding: 15px 100px;

}
.intro button a{
    text-decoration: none;
    color: #f5f5f7;
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.projects{
    display:grid;
    grid-template-columns:1fr 1fr; /* understand that the 'fr' relates to column so given that there's two 'frs' it means two columns*/
    margin-top: 85px;
    grid-gap: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    

    
    

}

.projects img{
   
   max-width: 98%;   /* took a while to get the grid effect> 98% means theres a margin between elements-not sure if this is best practice*/
   filter:grayscale(100%);
   transition: 1s;
   
    
}

.projects img:hover{
    filter:grayscale(0%);
    z-index: 2; /* stops overlay from being thrown behind as in with header*/

}

.about{
   
    
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-size: 16px;
    
}

.about .about-title{

    
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  
   
  
    
}



.about .about-title h2 {
    font-family: 'faster one' ;
    font-size: 80px;
    max-width: 500px;
    color: black;
    
    letter-spacing: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0px 5px 0px;
  
    
    

    
}
.about .text{
    width: 35%;
    float: left;
    letter-spacing: 1px;
    margin-left: 40px;
    margin-top: -30px;  /* makes the text closer to the heading*/
   
}
.about .text h3{
    font-size: 28px;
    font-weight: 300;
    padding-top: 5px;
    letter-spacing: 1px;
    
    
    
}
.about .text p{
   
    max-width: 550px;
    letter-spacing: 0.5px;
    margin-top: -15px;
    line-height: 1.3;
    margin-bottom: -15px;
    

}

.about .text a{
   
   text-decoration: none;
    

}

.about .image{
    overflow: hidden;
    width: 45%;;
    float:right;
    margin-right: 70px;
    margin-top: 55px;
    
}

.about .image img{
   
    width:150%;
    text-align: center ;
    filter:grayscale(100%);
    transition: 1s;
}

.about .image img:hover{
filter: grayscale(0%);
z-index: 2;
}


    footer{

        background-color: #000000;
        margin-top: 40px;
        padding: 30px 30px;
        text-align: right;
        
        
    
    }

    footer a{
        font-family: 'PP Neue Montreal Book', sans-serif;
        text-decoration: none;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        margin-left: 80px;
        text-align: center;
        padding-right: 40px;
        
        
    
    }


